* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  
}

header {
  background: #51ff00;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: rgb(6, 255, 156);
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.spot-section {
  margin-bottom: 40px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  max-width: 400px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background: #f2f2f2;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

.main{
    
    display:flex;


}
